django==5.1.4
django-environ==0.11.2
environs==11.0.0
loguru==0.7.2
openai==1.45.0
pre-commit==3.8.0
psycopg2-binary==2.9.9   # https://github.com/psycopg/psycopg2
pytest-cov==5.0.0 #https://github.com/pytest-dev/pytest-cov
pytest-django==4.9.0
pytest-emoji==0.2.0
pytest-html==4.1.1  #https://github.com/pytest-dev/pytest-html
pytest-loguru==0.4.0
pytest-md==0.2.0
pytest-mock==3.14.0
pytest-sugar==1.0.0 # https://github.com/Frozenball/pytest-sugar
pytest-xdist==3.6.1
python-dotenv==1.0.1
requests==2.32.3
telethon==1.36.0 #https://github.com/LonamiWebs/Telethon
typing-extensions==4.12.2
watchdog==5.0.2 #https://github.com/gorakhargosh/watchdog
