django==4.2.3
django-environ==0.10.0
environs==9.5.0
loguru==0.7.0
openai==0.27.4
pre-commit==3.2.2
psycopg2-binary==2.9.7   # https://github.com/psycopg/psycopg2
pytest-cov==4.0.0 #https://github.com/pytest-dev/pytest-cov
pytest-django==4.5.2
pytest-html==3.2.0  #https://github.com/pytest-dev/pytest-html
pytest-sugar==0.9.7  # https://github.com/Frozenball/pytest-sugar
requests==2.31.0
telethon==1.28.5 #https://github.com/LonamiWebs/Telethon
watchdog==3.0.0 #https://github.com/gorakhargosh/watchdog
